<div class="page-contents">
  <h1>Welcome to Bruno's Magical Music Shop</h1>
  <h2>The most amazing music instruments in Berlin</h2>
  <p>The date and time now is <%= Time.now %>. Don't forget it's always 16:20 somewhere.</p>

  <div class="container-fluid">
    <div class="product col-xs-6 col-md-4 col-lg-2">
      <%= image_tag("book_filho.jpg", class: "img-responsive product_img", alt: "xxx") %>
    </div>
    <div class="product col-xs-6 col-md-4 col-lg-2">
      <%= image_tag("book_filho.jpg", class: "img-responsive product_img", alt: "xxx") %>
    </div>
    <div class="product col-xs-6 col-md-4 col-lg-2">
      <%= image_tag("book_filho.jpg", class: "img-responsive product_img", alt: "xxx") %>
    </div>
    <div class="product col-xs-6 col-md-4 col-lg-2">
      <%= image_tag("book_filho.jpg", class: "img-responsive product_img", alt: "xxx") %>
    </div>
    <div class="product col-xs-6 col-md-4 col-lg-2">
      <%= image_tag("book_filho.jpg", class: "img-responsive product_img", alt: "xxx") %>
    </div>
    <div class="product col-xs-6 col-md-4 col-lg-2">
      <%= image_tag("book_filho.jpg", class: "img-responsive product_img", alt: "xxx") %>
    </div>
  </div>
</div>
