
<div class="page-contents">
  <h1>Welcome to Sick'n'Sour Music Shop</h1>
  <h2>The most amazing used music instruments in Berlin</h2>
  <p>Welcome! The date and time is <%= Time.now %></p>

  <div class="container-fluid">
    <div class="product col-xs-12 col-md-6">
      <%= image_tag("guitar_01.jpg", class: "img-responsive") %>
    </div>
    <div class="product col-xs-12 col-md-6">
      <%= image_tag("e_guitar_01.jpg", class: "img-responsive") %>
    </div>
    <div class="product col-xs-12 col-md-6">
      <%= image_tag("bass_01.jpg", class: "img-responsive") %>
    </div>
    <div class="product col-xs-12 col-md-6">
      <%= image_tag("synth_01.jpg", class: "img-responsive") %>
    </div>
    <div class="product col-xs-12 col-md-6">
      <%= image_tag("trombone_01.jpg", class: "img-responsive") %>
    </div>
    <div class="product col-xs-12 col-md-6">
      <%= image_tag("trombone_02.jpg", class: "img-responsive") %>
    </div>
  </div>
</div>
