<div class="page-contents">
  <h1>Welcome to Bruno's Book Store</h1>
  <h2>Great books for great prices</h2>
  <p>The best books I have worked with.</p>

  <div class="container-fluid">
    <div class="product col-xs-6 col-md-4 col-lg-2">
      <%= image_tag("book_filho.jpg", class: "img-responsive product_img", alt: "xxx") %>
    </div>
    <div class="product col-xs-6 col-md-4 col-lg-2">
      <%= image_tag("book_filho.jpg", class: "img-responsive product_img", alt: "xxx") %>
    </div>
    <div class="product col-xs-6 col-md-4 col-lg-2">
      <%= image_tag("book_filho.jpg", class: "img-responsive product_img", alt: "xxx") %>
    </div>
    <div class="product col-xs-6 col-md-4 col-lg-2">
      <%= image_tag("book_filho.jpg", class: "img-responsive product_img", alt: "xxx") %>
    </div>
    <div class="product col-xs-6 col-md-4 col-lg-2">
      <%= image_tag("book_filho.jpg", class: "img-responsive product_img", alt: "xxx") %>
    </div>
    <div class="product col-xs-6 col-md-4 col-lg-2">
      <%= image_tag("book_filho.jpg", class: "img-responsive product_img", alt: "xxx") %>
    </div>
  </div>
</div>
